* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  /* background: -webkit-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 90%);
  background: -moz-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 90%);
  background: -o-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 90%);
  background: -ms-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 90%);
  background: linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 90%); */
  background: url('../img/love.jpg') no-repeat;
  background-size: 100% 100%;
}

/* 计时器 */

.timer {
  margin: 30px auto;
  margin-top: 20%;
  font-family: "sans-serif";
  width: 90%;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

#elapseClock {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#elapseClock .digit {
  font-size: 20px;
}

/* 打字机 */

.content {
  margin: auto;
  background: rgba(87, 187, 255, 0.4);
  padding: 10px;
  width: 90%;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.content span {
  color: #fff;
  font-size: 20px;
}

.typed-cursor {
  color: rgb(240, 229, 229);
  font-size: 16px;
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}